<!DOCTYPE html>
<html lang="zh-CN">
{%  load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}主界面 {%  endblock %}</title>
  
    <script src="{% static 'gree/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'it/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'it/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'it/css/footer.css' %}">
    <script src="{% static 'it/js/slide_palace_treasury.js' %}"></script>
    <link rel="stylesheet" href="{% static 'it/css/special_transverse.css' %}">
    <script src="{% static 'it/js/special_transverse.js' %}"></script>
    <link rel="stylesheet" href="{% static 'it/plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'it/plugins/themify-icons/themify-icons.css' %}">
    <link rel="icon" href="{% static 'img_add/favicon.ico' %}" type="image" />
    <link href="{% static 'it/assets/style.css' %}" rel="stylesheet" media="screen" />
    <!--新建弹窗需要的文件-->
    <link rel="stylesheet" href="{% static 'plugin/sweetalert2.min.css' %}">
    <script src="{% static 'plugin/sweetalert2.min.js' %}"></script>
    <!--将自定义样式放进base.css-->
    <link rel="stylesheet" href="{% static 'gree/base.css' %}">
    <!-- toastr的配置目录引入 -->  
    <link rel="stylesheet" href="{% static 'plugin/toastr/toastr.min.css' %}">  
    <script src="{% static 'plugin/toastr/toastr.min.js' %}"></script>
<!--添加自定义的样式-->
    {% block custom %}
    {% endblock %}
</head>




<body>
    <div class="header1">
        <div class="header-top">
            <div class="header-top-left fl">
                <a href="{% url 'home' %}" target="_blank">
                    <img class="flb" src="{% static 'img_add/favicon.ico' %}" alt="主页" style="filter: brightness(0) invert(1);">
                    <span>&nbsp首页</span>
                </a>          
            </div>
    {% if request.user.is_authenticated %}
            <div class="header-top-right fr">
                <span class="vertical-line"></span>
                <a  class="new-pattern" href="{% url 'user:need' %}" target="_blank">
                    <img class="flb " src="{% static 'img_add/journal-arrow-up.svg' %}" alt="情报需求" style="filter: brightness(0) invert(1);">
                    情报需求
                </a>             
                <span class="vertical-line"></span>
     
                <div class="user-info new-pattern">
                    {% if request.user.avatar %}               
                    <img src="{{ MEDIA_URL }}{{ request.user.avatar }}" >                       
                    {% else %}
                    <img src="{{ MEDIA_URL }}avatars/default/default.png"  >
                    {% endif %}
                    <a href="{% url 'user:userinfo' %}" class="span_uname ">{{ request.user.username }}</a>
                </div>
               
                <span class="vertical-line"></span>

                <a href="{% url 'logout' %}" class="logout-btn new-pattern" target="_blank">
                    <img class="flb new-pattern" src="{% static 'img_add/box-arrow-right.svg' %}" alt="退出登录" style="filter: brightness(0) invert(1);">
                    退出登录
                </a>    
            </div> 
        </div>

            
    {% else %}
            <div class="header-top-right fr">
                <a href="{% url 'user:need' %}"  class="new-pattern"  target="_blank">
                    <img class="flb" src="{% static 'img_add/journal-arrow-up.svg' %}" style="filter: brightness(0) invert(1);" alt="情报需求" >
                    情报需求
                </a>
                <span></span>
                <a href="{% url 'login' %}"  class="new-pattern target="_blank">
                    <img class="flb" src="{% static 'img_add/door-open.svg' %}" style="filter: brightness(0) invert(1);" alt="登录注册" >
                    注册登录
                </a>
            </div>
    {% endif %}
         </div>
    </div>


 <!-- 学它的布局，将它的布局重新编排 -->
 <div class="nav bg-cover " id="nav1">
    <div class="nav_inbox">
        <div class="col-lg-8 text-center mx-auto">
            <h2 style="margin-top: 20px; margin-left: 15px; color: white;">格力家电一院情报系统</h2>

            <div class="position-relative" id="search_div">

                <div class="row">


                    <div>
                        <img src="{% static 'it/images/fire.svg' %}" id="fire_img">
                        <span style="color:white;">热门：</span>
                    </div>

                    <ul class="list-inline" style="margin-top: 29px;">

                        <div class="list-inline-item ">
                            <input type="checkbox" id="checkbox" class="checkbox" />
                            <label style="color:white;">电风扇 </label>
                        </div>

                        <div class="list-inline-item ">
                            <input type="checkbox" id="checkbox" class="checkbox" />
                            <label style="color:white;">电暖气 </label>
                        </div>

                        <div class="list-inline-item ">
                            <input type="checkbox" id="checkbox" class="checkbox" />
                            <label style="color:white;">净水机 </label>
                        </div>

                        <div class="list-inline-item ">
                            <input type="checkbox" id="checkbox" class="checkbox" />
                            <label style="color:white;">厨房小电 </label>
                        </div>

                        <div class="list-inline-item ">
                            <input type="checkbox" id="checkbox" class="checkbox" />
                            <label style="color: white;">清洁电器 </label>
                        </div>

                    </ul>


                </div>
              
                <form id="searchForm" action="{% url 'info:infolist' %}" method="get" class="search-form">  
                    <div class="search-container">  
                        <input id="search"   
                               name="keyword"   
                               class="form-control"   
                               placeholder="请输入要查找的内容"  
                               required>  
                        <button type="submit" class="search-button">  
                            <i class="ti-search search-icon" style="margin-top: 80px;"></i>  
                        </button>  
                    </div>  
                </form>  
            </div>
        </div>


    </div>


</div>




<!--其他的暂时先去掉，只保留研究报告-->
<div class="nav2">
    <ul>
        <li><a class="act2" href="{% url 'home' %}">首页</a></li>
        <li id="academy_box">
            <a href="{% url 'info:infolist' %}" target="_blank" id="academy">
                <span style="margin-right: 15px;">市场报告</span>
                <div style="right: 15px;"></div>
            </a>
            <div class="nav2_list" id="service_list">
                <div><a href="#" target="_blank">全部资料</a></div>
                <div><a href="#" target="_blank">产品洞察</a></div>
                <div><a href="#" target="_blank">行业研究</a></div>
                <div><a href="#" target="_blank">用户调研</a></div>
            </div>
        </li> 
        <li id="service_box2">
            <a href="#" target="_blank" id="academy">
                <span style="margin-right: 15px;">新品月报</span>
                <div style="right: 15px;"></div>
            </a>
            <div class="nav2_list123" id="monthly_list">
                <div><a href="#" target="_blank">全部资料</a></div>
                <div><a href="#" target="_blank">电风扇</a></div>
                <div><a href="#" target="_blank">电暖器</a></div>
                <div><a href="#" target="_blank">净水机</a></div>
                <div><a href="#" target="_blank">厨房小电</a></div>
                <div><a href="#" target="_blank">清洁电器</a></div>
                <div><a href="#" target="_blank">其他产品</a></div>
            </div>
        </li>

        <li id="service_box1">
            <a href="#" target="_blank" id="academy">
                <span style="margin-right: 15px;">用户体验</span>
                <div style="right: 15px;"></div>
            </a>
            <div class="nav2_list12" id="service_list">
                <div><a href="#" target="_blank">全部资料</a></div>
                <div><a href="#" target="_blank">电风扇</a></div>
                <div><a href="#" target="_blank">电暖器</a></div>
                <div><a href="#" target="_blank">净水机</a></div>
                <div><a href="#" target="_blank">厨房小电</a></div>
                <div><a href="#" target="_blank">清洁电器</a></div>
                <div><a href="#" target="_blank">其他产品</a></div>
            </div>
        </li>
        <li id="nav_group">
            <a href="#" target="_blank" id="academy">
                <span style="margin-right: 5px;">产品线</span>
                <div style="right: 10px;"></div>
            </a>
            <div class="nav2_list1" id="service_list">
                <div><a href="#" target="_blank">全部资料</a></div>
                <div><a href="#" target="_blank">电风扇</a></div>
                <div><a href="#" target="_blank">电暖器</a></div>
                <div><a href="#" target="_blank">净水机</a></div>
                <div><a href="#" target="_blank">厨房小电</a></div>
                <div><a href="#" target="_blank">清洁电器</a></div>
                <div><a href="#" target="_blank">其他产品</a></div>
            </div>
        </li>     
        <li><a href="#">情报研究</a></li>
        <li><a href="#">其他共享文件</a></li>
    </ul>
</div>
<!--header-top end-->

{% block content %}

<!--这边添加新的内容方面-->
    
{%  endblock %}











<input type="hidden" value="正常情况">

    </div>
</div>





    <!-- 页脚 -->
    <div id="footer">
        <div class="footer_end">
            <div class="footer_end_box">
                <div class="footer_end_box_left">
                    <p>
                        <a href="#"  title="家电一院">格力电器家电技术研究一院</a>
                        <i>|</i>
                        
                       
                       
                        <a href="#"  title="联系我们" onclick="contact() " id="contact">联系管理员</a>
                        <div class="clear_float"></div>
                    </p>
                   
                  
                </div>

            </div>
        </div>
    </div>
    <!--header-top end-->






    <script type="text/javascript" src="{% static 'it/js/basic.js' %}"></script>

   
    
    <script src="{% static 'it/js/jquery.common.js' %}"></script>


    <!-- 引入另外资源文件 -->
    <!-- jquiry -->
    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'boot_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'gree/base.js' %}"></script>

    {% block js %}
  
  {% endblock %}
  
   


</body>

</html>