{% extends 'base.html' %}
{% block title  %} 首页 {% endblock %}
{%  load static %}
{% load custom_filters %}
<!--添加自定义的样式-->
{% block custom %}
<link rel="stylesheet" href="{% static 'gree/index.css' %}">
{% endblock %}



{% block content %}
    <div class="content1" style="background-color：rgba(0, 0, 0, 0.8)">


        <div id="slider" class="flexslider height1 ">

            <div class="news_box">
                <div class="news_tip" style="  width:30%; position: relative;">
                    近期焦点
                </div>
                <ul class="news_title">
                    {% for banner in all_banners%}
                    <li>
                        <a href="{% url 'info:banner_download' banner.id %}" target="_blank" title="清洁电器">
                            <div class="round_tip"> </div>
                            <font size="4">{{ banner.title }}</font>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>




            <ul class="slides" style=" transition: transform 0.5s ease-in-out;">
                {% for banner in all_banners %}
                <li >

                 
                    <a href="{% url 'info:banner_download' banner.id %}" target="_blank" class=" height1">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" >
                        <div class="img_title">{{ banner.title }}</div>
                    </a>
                

                </li>
                {% endfor %}
            </ul>

            <button class="prev" onclick="preSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
        </div>


    </div>






<!--添加展示功能-->


<div class="content3">

    <div class="content_title" style="width: 1200px;margin: 0 auto;">
        <span>近期活动</span>
        <div class="line1"></div>
        <div class="more">
            <a href="#" target="_blank">
                <img src="{% static 'it/img/arrow_right.jpg'%}" alt="">
            </a>
        </div>
    </div>

    <div>
        <div class="special_broadcast">
            <a class="special_direction_left fl" id="direction_left"></a>
            <!--新闻信息的主题-->
            <ul class="special_broadcast_list fl" id="broadcast_contentimg" style="width: 1200px;">
                <div style="zoom: 1; width: 32766px;">
                    {% for news in news_items %}
                    <div style="float: left;">
                        <li>
                            <a href="{% url 'info:news_detail' news.id %}" title="{{ news.title }}" target="_blank">
                                <img src="{{ news.image.url }}" alt="{{ news.title }}">
                            </a>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </ul>

            <a class="special_direction_right fl" id="direction_right"></a>
        <div class="clear"></div>
    </div>


<input type="hidden" value="正常情况">

    </div>
</div>


<div class="content3 margin_bottom0 content2023">
   
   
    <div class="service service2023">
        <div class="content_title">
            <span>院内新闻</span>
            <div class="line1 width-bod96"></div>
            <div class="more">
                <!--添加分页功能-->
                {% if current_page.has_next %}
                <a href="?page={{ current_page.next_page_number }}" >
                    <img src="{% static 'it/img/arrow_right.jpg' %}" alt="">
                </a>
                {% else %}
                <a href="?page=1" >
                    <img src="{% static 'it/img/arrow_right.jpg' %}" alt="">
                </a>
                {% endif %}
            </div>
        </div>


        
            <div class="content_box4">
                <div class="listed-companies-content">
                    {% for file1, file_name in current_page.object_list %}
                    <a class="listed-companies-c-list" href="{% url 'info:file1_download' file1.id %}" title="左下侧文件" >
                        <i class="">
                            {% if forloop.counter == 1 %}
                                <img src="{% static 'img_add/tick1.png' %}">
                            {% elif forloop.counter == 2 %}
                                <img src="{% static 'img_add/tick2.png' %}">
                            {% elif forloop.counter == 3 %}
                                <img src="{% static 'img_add/tick3.png' %}">
                            {% elif forloop.counter == 4 %}
                                <img src="{% static 'img_add/tick4.png' %}">
                            {% else %}
                                <img src="{% static 'img_add/tick1.png' %}">
                            {% endif %}
                        </i>
                        <span>{{ file_name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
    </div>
   
    <div class="free_report free_report2023">
        <div class="content_title">
            <span>最新报告</span>
            <div class="line1 width-bod96"></div>
            <div class="more po_r4">
                <a href="#" target="_blank">
                    <img src="{% static 'it/img/arrow_right.jpg'%}" alt="">
                </a>
            </div>
        </div>
        <div class="free_report_content2">
            <ul>
                {% for file in all_files|slice:":8" %}
                <li>
                    <a href="{% url 'info:infolist'  %}?file_id={{ file.id }}" target="_blank" title="{{ file.title }}">
                        <div class="free_report_img2">
                         
                            <img src="{{ file.cover.url }}" alt="文件封面">
                        </div>
                    </a>
                    <a href="{% url 'info:infolist'  %}?file_id={{ file.id }}" target="_blank" title="{{ file.name }}">
                        <div class="free_report_title2">{{ file.name }}</div>
                    </a>
                    <div class="hot_news_tips margin_top2">
                        <img class="margin_left_8" src="/static/it/img/tip_03.jpg" alt="">
                        <a href="{% url 'info:infolist'  %}?file_id={{ file.id }}" target="_blank" title="{{ file.title }}">
                            {{file.file_product}}
                        </a>
                    </div>
                    <div class="hot_news_tips margin_top2">
                        <img class="margin_left_8" src="/static/it/img/tip_07.jpg" alt="">

                        <a href="{% url 'info:infolist'  %}?file_id={{ file.id }}" target="_blank" title="{{ file.title }}">
                            {{file.file_dist}}
                        </a>
                    </div>
                </li>
                {% endfor %}
               
                           
                           
                            
                            
                            
                           

                <div class="clear_float"></div>
            </ul>
        </div>
    </div>



    <div class="clear_float"></div>
</div>







    <script src="/static/it/js/jquery.flexslider-min.js"></script>
    
{% endblock %}
{% block js %}
<script src="{% static 'gree/index.js' %}"></script>
{% endblock %}
